html {
  height: 100%;
  width: 100%;
}

#cuadro {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  background-color: #202020;
  color: white;
}

#cuadro > div {
  border: 2px solid red;
  margin: 5px;
  padding: 10px;
}
